@import "../base/mixins";
.input {
  padding: 20px 20px 20px 0;
  @include mobile() {
    padding: 20px 0;
  }
  font-size: 12px;
  label {
    padding-bottom: 12px;
  }
  input {
		border: 1px solid var(--white-200);
    color: var(--grey-100);
		border-radius: 2px;
		font-size: 14px;
  }
	.forgot {
		cursor: pointer;
		padding-left: 20px;
		text-decoration: underline ;
		font-style: italic;
		color: var(--grey-100);
	}
  .green-submit,
  .white-submit {
    height: 40px;
    width: 120px;
    border: 1px solid var(--green-100);
    border-radius: 999px;
    a {
			width: 100%;
			height: 100%;
      text-transform: uppercase;
			text-decoration: none;
      padding: 0;
    }
  }
  .green-submit {
    background: var(--green-100);
    transition: all 0.2s ease-in;
    a {
      color: var(--white-100);
    }
    &:hover {
      background: var(--white-100);
      a {
        color: var(--green-100);
      }
    }
  }
  .white-submit {
    background: var(--white-100);
    transition: all 0.2s ease-in;
    a {
      color: var(--green-100);
    }
    &:hover {
      background: var(--green-100);
      a {
        color: var(--white-100);
      }
    }
  }
  .password,
  .text {
    width: 100%;
    height: 42px;
  }
  .checkbox-label {
    padding: 0 0 0 10px;
    font-weight: bold;
  }
  .asterisk {
    color: var(--red-200);
  }
}
